{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Budget Monitoring System</title>

    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/4.0.0/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dataTables/dataTables.min.css' %}" />

    <script src="{% static 'jquery-3.7.1.js' %}"></script>
    <script src="{% static 'dataTables/dataTables.min.js' %}"></script>
    <script src="{% static 'axios@1.6.8/dist/axios.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">Budget Monitoring System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
            {% endif %}
          </ul>
        </div>

        <div class="d-flex"></div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="nav-item nav-link bg-transparent border-0 text-warning" style="cursor: pointer" type="submit">Logout</button>
              </form>
              <!-- <a class="nav-link" href="{% url 'logout' %}">Logout</a> -->
            </li>
            <li class="nav-item">
              <span class="nav-link text-light">Hey, <strong>{{ user.username }}</strong></span>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="row">
        {% block content %}

        {% endblock %}
      </div>
    </main>

    <script src="{% static 'bootstrap/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
